@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
*{
	margin:0;
	padding:0;
	box-sizing:border-box;
	font-family:'Open Sans', sans-serif;
}

body{
	margin: 0px;
	padding: 0px;
	line-height: 1.5;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
}








body.hidden-scrolling{
	overflow-y: hidden;
}
*{
	margin:0;
	box-sizing: border-box;
}
.container{
	max-width: 1170px;
	margin:auto;
}
ul{
	list-style: none;
	margin:0;
	padding:0;
}
a{
	text-decoration: none;
}
/*header*/
.header{
	position: absolute;
	width: 100%;
	left:0;
	top:0;
	z-index: 99;
	padding: 15px;
}
.header-main{
	background-color: #00BFFF;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 0;
	border-radius: 4px;
}
  
  

.header .logo{
	padding: 0 15px;
	float: left;
	position: relative;
	margin: 5px 0 0 15px;
}



.header .nav-menu{
	padding: 0 15px;
}
.header .menu > .menu-item{
	display: inline-block;
	margin-left: 30px;
	position: relative;
}
.header .menu > .menu-item > a{
	display: block;
	padding: 12px 0;
	font-size: 16px;
	color: #fff;
	text-transform: capitalize;
	font-weight: 600;
	transition: all 0.3s ease;
}
.header .menu > .menu-item > a .plus{
	display: inline-block;
	height: 12px;
	width: 12px;
	position: relative;
	margin-left:5px; 
	pointer-events: none;
}
.header .menu > .menu-item > a .plus:before,
.header .menu > .menu-item > a .plus:after{
	content:'';
	position: absolute;
	box-sizing: border-box;
	left: 50%;
	top:50%;
	background-color: #fff;
	height: 2px;
	width: 100%;
	transform: translate(-50%,-50%);
	transition: all 0.3s ease;
}
.header .menu > .menu-item:hover > a .plus:before,
.header .menu > .menu-item:hover > a .plus:after{
   background-color: #87CEFA;
}
.header .menu > .menu-item > a .plus:after{
   transform: translate(-50%,-50%) rotate(-90deg);	
}
.header .menu > .menu-item > .sub-menu > .menu-item > a:hover,
.header .menu > .menu-item:hover > a{
	color: #87CEFA;
}
.header .menu > .menu-item > .sub-menu{
	box-shadow: 0 0 10px rgba(0,0,0,0.2);
	width: 220px;
	position: absolute;
	left:0;
	top:100%;
	background-color: #00BFFF;
	padding: 10px 0;
	border-top: 3px solid #87CEFA;
	transform: translateY(10px);
	transition: all 0.3s ease;
	opacity:0;
	visibility: hidden;
}
@media(min-width: 992px){
.header .menu > .menu-item-has-children:hover > .sub-menu{
	transform: translateY(0);
	opacity: 1;
	visibility: visible;
 }
 .header .menu > .menu-item-has-children:hover > a .plus:after{
    transform: translate(-50%,-50%) rotate(0deg);		
 }
}
.header .menu > .menu-item > .sub-menu > .menu-item{
	display: block;
}
.header .menu > .menu-item > .sub-menu > .menu-item > a{
	display: block;
	padding: 10px 20px;
	font-size: 16px;
	font-weight: 600;
	color: #fff;
	transition: all 0.3s ease;
	text-transform: capitalize;
}
.header .open-nav-menu{
	height: 34px;
	width: 40px;
	margin-right: 15px;
	display: none;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}
.header .open-nav-menu span{
	display: block;
	height: 3px;
	width: 24px;
	background-color: #fff;
    position: relative;
}
.header .open-nav-menu span:before,
.header .open-nav-menu span:after{
	content: '';
	position: absolute;
	left:0;
	width: 100%;
	height: 100%;
	background-color: #fff;
	box-sizing: border-box;
}
.header .open-nav-menu span:before{
	top:-7px;
}
.header .open-nav-menu span:after{
	top:7px;
}
.header .close-nav-menu{
	height: 40px;
	width: 40px;
	
	background-color: #ffffff;
	
	margin:0 0 15px 15px;
	cursor: pointer;
	display: none;
	align-items: center;
	justify-content: center;
}
.header .close-nav-menu img{
	width: 16px;
}
.header .menu-overlay{
	position: fixed;
	z-index: 999;
	background-color: rgba(0,0,0,0.5);
	left:0;
	top:0;
	height: 100%;
	width: 100%;
	visibility: hidden;
	opacity:0;
	transition: all 0.3s ease;
}



/*home section*/
.home-section{
	width: 100%;
	display: block;
	min-height: 100vh;
	background-image: url('../img/img-inicial.png');
	background-position: center top;
	background-size: cover;
}
.home-section2{
	width: 100%;
	display: block;
	min-height: 100vh;
	background-image: url('../img/img2.png');
	background-position: center top;
	background-size: cover;
}
.home-section3{
	width: 100%;
	display: block;
	min-height: 100vh;
	background-image: url('../img/img3.png');
	background-position: center top;
	background-size: cover;
}
.home-section4{
	width: 100%;
	display: block;
	min-height: 100vh;
	background-image: url('../img/img4.png');
	background-position: center top;
	background-size: cover;
}
.home-section5{
	width: 100%;
	display: block;
	min-height: 100vh;
	background-image: url('../img/img5.png');
	background-position: center top;
	background-size: cover;
}

.home-section6{
	width: 100%;
	display: block;
	min-height: 100vh;
	background-image: url('../img/img6.jpg');
	background-position: center top;
	background-size: cover;
}
.sobre{
	width: 100%;
	display: block;
	min-height: 100vh;
	background-image: url('../img/sobre.png');
	background-position: center top;
	background-size: cover;
}




/* responsive */

@media(max-width: 991px){
	.header .menu-overlay.active{
	visibility: visible;
	opacity: 1;
}
	.header .nav-menu{
		position: fixed;
		right: -280px;
		visibility: hidden;
		width: 280px;
		height: 100%;
		top:0;
		overflow-y: auto;
		background-color: #00BFFF;
		z-index: 1000;
		padding: 15px 0;
		transition: all 0.5s ease;
	}
	.header .nav-menu.open{
		visibility: visible;
		right: 0px;
	}
	.header .menu > .menu-item{
		display: block;
		margin:0;
	}
	.header .menu > .menu-item-has-children > a{
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.header .menu > .menu-item > a{
		color: #ffffff;
		padding: 12px 15px;
		border-bottom: 1px solid #87CEFA;
	}
	.header .menu > .menu-item:first-child > a{
	    border-top: 1px solid #87CEFA;	
	}
	.header .menu > .menu-item > a .plus:before, 
	.header .menu > .menu-item > a .plus:after{
		background-color: #ffffff;
	}
	.header .menu > .menu-item-has-children.active > a .plus:after{
        transform: translate(-50%,-50%) rotate(0deg);
	}
	.header .menu > .menu-item > .sub-menu{
		width: 100%;
		position: relative;
		opacity: 1;
		visibility: visible;
		border:none;
		background-color: transparent;
		box-shadow: none;
		transform: translateY(0px);
		padding: 0px;
		left: auto;
		top:auto;
		max-height: 0;
		overflow: hidden;
	}
	.header .menu > .menu-item > .sub-menu > .menu-item > a{
		padding: 12px 45px;
		color: #ffffff;
		border-bottom: 1px solid #87CEFA;
	}
	.header .close-nav-menu,
	.header .open-nav-menu{
		display: flex;
	}
}


h2 {
	display:flex;
	justify-content: center;
	margin:5rem 0 2rem 0;
	font-family:"Arial Black", Gadget, sans-serif;
	font-size:40px;
}
h4 {
	margin: 2vh 0 0 0;
	color: #404040;
	display: block;
	font-size: 120%;
	font-weight: bold;
	text-align: center;
	padding-left:15vh;
	padding-right:15vh;
}


body {
	background-color: #f5f5f5;
}



h1{
	display:flex;
	justify-content: center;
	margin:4rem 0 5rem 0;
	font-family:"Arial Black", Gadget, sans-serif;
	font-size:40px;
}

.cards {
	display:grid;
	grid-template-columns: repeat(3, 1fr);	
	max-width:980px;
	margin: 0 auto;
	grid-gap: 40px;
}

.card {
	background-color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 35px 40px;
	box-shadow: 6px 6px 10px rgba(0,0,0,0.171);
}

.card .user {
	width: 100px;
	margin-bottom: 15px;
}

.card h3{
	display:flex;
	justify-content: center;
	font-family:Arial, Helvetica, sans-serif;
	margin-bottom:5px;
}

p {
	margin-top: 20px;
	text-align: center;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size: 18px;
}

t {
	margin-top: 20px;
	text-align: center;
	font-family:"Lucida Console", Monaco, monospace;
	font-size: 18px;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 50px;
	
}



.btn {
	padding: 10px;
	background-color: #00BFFF;
	text-decoration:none;
	color: white;
	cursor: pointer;
	transition: background .3s;
	border-radius: 6px;
}

.btn:hover {
	background-color: #87CEFA;
}



/*:::::Pie de Pagina*/
.pie-pagina{
    width: 100%;
    background-color: #0a141d;
}
.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:50px;
    padding: 45px 0px;
}
.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pie-pagina .grupo-1 .box figure img{
    width: 250px;
}
.pie-pagina .grupo-1 .box h2{
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}
.pie-pagina .grupo-1 .box p{
    color: #efefef;
    margin-bottom: 10px;
}
.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #0d2033;
    text-align: center;
    transition: all 300ms ease;
}
.pie-pagina .grupo-1 .red-social a:hover{
    color: aqua;
}
.pie-pagina .grupo-2{
    background-color: #0a1a2a;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}
.pie-pagina .grupo-2 small{
    font-size: 15px;
}
@media screen and (max-width:800px){
    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:30px;
        padding: 35px 0px;
    }
}


.btn1 {
	padding: 10px;
	text-decoration:none;
	color: white;
	cursor: pointer;
	transition: background .3s;
	border-radius: 6px;
}

.btn1:hover {
	background-color: #00BFFF;
}

/* fim inicial */

/* inicio da pagina Bullying Vs Racismo */

.fundo {
	background-color: #F7D5A7;
}

h6{
	display:flex;
	justify-content: center;
	margin:4rem 0 5rem 0;
	font-family:"Arial Black", Gadget, sans-serif;
	font-size:40px;
}

h7{
	display:flex;
	justify-content: center;
	margin:0 0 5rem 0;
	font-family:"Arial Black", Gadget, sans-serif;
	font-size:40px;
}


.cards1 {
	display:grid;
	grid-template-columns: ;	
	max-width:980px;
	margin: 0 auto;
	grid-gap: 40px;
}

.card1 {
	background-color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 35px 40px;
	box-shadow: 6px 6px 10px rgba(0,0,0,0.171);
}

.card1 h6{
	font-family:Arial, Helvetica, sans-serif;
	margin-bottom:5px;
}

.card2 {
	display:grid;
	grid-template-columns: ;	
	background-color: blue;
	display: flex;
	flex-direction: column;
	align-items: center;
	box-shadow: 6px 6px 10px rgba(0,0,0,0.171);
}


p {
	text-align: center;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size: 18px;
}



.cards3 {
	display:grid;
	grid-template-columns: repeat(3, 1fr);	
	max-width:980px;
	margin: 0 auto;
	grid-gap: 40px;
}

.card3 {
	background-color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 35px 40px;
	box-shadow: 6px 6px 10px rgba(0,0,0,0.171);
}

.card3 .user1 {
	width: 400px;
}

.box-img2 {
	background:url(../img/img2.png);
	background-size: cover;
	height: 92vh;
}

.fundo2 {
	background-color: #B1DCFF;
}
.fundo4 {
	background-color: #E0E0E0;
}
.fundo5 {
	background-color: #8A5FFF;
}







/* inicio da pagina Sobre */
.fundo3 {
	background: linear-gradient(72deg, #3debb0 1%, #8956f3 99%);
}


.slidershow{
  width: 935px;
  height: 520px;
  overflow: hidden;
  border-radius:15px;
}
.middle{
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.navigation{
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}
.bar{
  width: 70px;
  height: 17px;
  border-radius:5px;
  border: 2px solid #fff;
  margin: 6px;
  cursor: pointer;
  transition: 0.4s;
}
.bar:hover{
  background: #fff;
}

input[name="r"]{
    position: absolute;
    visibility: hidden;
}

.slides{
  width: 500%;
  height: 100%;
  display: flex;
}
.slide{
  width: 20%;
  transition: 0.6s;
}
.slide img{
  width: 100%;
  height: 100%;
}

#r1:checked ~ .s1{
  margin-left: 0;
}
#r2:checked ~ .s1{
  margin-left: -20%;
}
#r3:checked ~ .s1{
  margin-left: -40%;
}


body {
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
	  Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	padding-right: 1rem;
	padding-left: 1rem;
  }
  
  h10{
	font-size: 3rem;
	color: #fff;
	margin-bottom: 2rem;
	text-align: center;
	line-height: 1.2;
  }
  
  h10::before {
	content: "📧";
	display: block;
  }

  .form {
	width: 100%;
	max-width: 32rem;
	font-size: 1.125rem;
  }
  
  .form label,
  .form input,
  .form textarea,
  .form button {
	display: block;
	width: 100%;
  }
  
  .form label {
	color: #fff;
	line-height: 1;
	margin-bottom: 0.5rem;
  }
  
  .form input,
  .form textarea {
	font: inherit;
	padding: 0.8rem;
	margin-bottom: 1rem;
	border: 1px solid transparent;
	border-radius: 8px;
	transition: border-color, box-shadow 0.2s;
  }
  
  .form textarea {
	min-height: 13rem;
	resize: vertical;
  }
  
  .form input:hover,
  .form input:focus,
  .form textarea:hover,
  .form textarea:focus {
	outline: none;
	border-color: #09d;
	box-shadow: 0 0 0 3px #4dc8ff;
  }
  
  .form button {
	display: block;
	padding: 1rem;
	background: #0072c4;
	color: #fff;
	font: inherit;
	text-transform: uppercase;
	border: none;
	border-radius: 8px;
	cursor: pointer;
	transition: 0.2s;
  }
  
  .form button:hover,
  .form button:focus {
	outline: none;
	background: #09d;
  }
   


.fundo01 {
	background-color: #C1E7FC;
}


.cards2 {
	display:grid;
	grid-template-columns: repeat(2, 1fr);	
	max-width:980px;
	margin: 0 auto;
}

.card2 {
	background-color: #7FBCEE;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 35px 40px;
	box-shadow: 6px 6px 10px rgba(0,0,0,0.171);
}

.card2 h01{
	color:#fff;
	display:flex;
	justify-content: center;
	margin:0 0 5rem 0;
	font-family:"Arial Black", Gadget, sans-serif;
	font-size:40px;
}

p1 {
	color:#fff;
	text-align: center;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size: 4vh;
}

.card2 .user2 {
	width: 100%;
	margin-bottom: 15px;
}



.card3 {
	background-color: #7FBDF0;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 35px 40px;
	box-shadow: 6px 6px 10px rgba(0,0,0,0.171);
}
.card3 h01{
	color:#fff;
	display:flex;
	justify-content: center;
	margin:0 0 5rem 0;
	font-family:"Arial Black", Gadget, sans-serif;
	font-size:40px;
}
.card3 .user2 {
	width: 100%;
	margin-bottom: 15px;
}





 
 
 
 

.cards4 {
	display:grid;
	grid-template-columns: repeat(1, 1fr);	
	max-width:980px;
	margin: 0 auto;
	grid-gap: 40px;
}

.card4 {
	background-color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 35px 40px;
	box-shadow: 6px 6px 10px rgba(0,0,0,0.171);
}

.card4 .user4 {
	width: 100px;
	margin-bottom: 15px;
}

.card4 h3{
	display:flex;
	justify-content: center;
	font-family:Arial, Helvetica, sans-serif;
	margin-bottom:5px;
}
.star{
	width:20px;
}

p4 {
	margin-top: 20px;
	text-align: center;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size: 18px;
}





.card5 {
	background-color: #FDB070;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 35px 40px;
	box-shadow: 6px 6px 10px rgba(0,0,0,0.171);
}
.card5 h01{
	color:#fff;
	display:flex;
	justify-content: center;
	margin:0 0 5rem 0;
	font-family:"Arial Black", Gadget, sans-serif;
	font-size:40px;
}
.card5 .user2 {
	width: 100%;
	margin-bottom: 15px;
}


.card6 {
	background-color: #FE4F5A;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 35px 40px;
	box-shadow: 6px 6px 10px rgba(0,0,0,0.171);
}
.card6 h01{
	color:#fff;
	display:flex;
	justify-content: center;
	margin:0 0 5rem 0;
	font-family:"Arial Black", Gadget, sans-serif;
	font-size:40px;
}
.card6 .user2 {
	width: 100%;
	margin-bottom: 15px;
}





.card9 {
	background-color: #FF7E6E;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 35px 40px;
	box-shadow: 6px 6px 10px rgba(0,0,0,0.171);
}

.card9 h01{
	color:#fff;
	display:flex;
	justify-content: center;
	margin:0 0 5rem 0;
	font-family:"Arial Black", Gadget, sans-serif;
	font-size:40px;
}

.card9 .user2 {
	width: 100%;
	margin-bottom: 15px;
}
.fundo08{
	background: #FFCCBB;
}
.home-section08{
	width: 100%;
	display: block;
	min-height: 100vh;
	background-image: url(../img/img8.png);
	background-position: center top;
	background-size: cover;
}



.card10 {
	background-color: #403986;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 35px 40px;
	box-shadow: 6px 6px 10px rgba(0,0,0,0.171);
}

.card10 h01{
	color:#fff;
	display:flex;
	justify-content: center;
	margin:0 0 5rem 0;
	font-family:"Arial Black", Gadget, sans-serif;
	font-size:40px;
}

.card10 .user2 {
	width: 100%;
	margin-bottom: 15px;
}
.fundo10{
	background: #18133C;
}
.home-section10{
	width: 100%;
	display: block;
	min-height: 100vh;
	background-image: url(../img/img10.png);
	background-position: center top;
	background-size: cover;
}



.card11 {
	background-color: #759DDD;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 35px 40px;
	box-shadow: 6px 6px 10px rgba(0,0,0,0.171);
}

.card11 h01{
	color:#fff;
	display:flex;
	justify-content: center;
	margin:0 0 5rem 0;
	font-family:"Arial Black", Gadget, sans-serif;
	font-size:40px;
}

.card11 .user2 {
	width: 100%;
	margin-bottom: 15px;
}
.fundo11{
	background: #B8D3FF;
}
.home-section11{
	width: 100%;
	display: block;
	min-height: 100vh;
	background-image: url(../img/img11.png);
	background-position: center top;
	background-size: cover;
}



.card12 {
	background-color: #FE962D;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 35px 40px;
	box-shadow: 6px 6px 10px rgba(0,0,0,0.171);
}

.card12 h01{
	color:#fff;
	display:flex;
	justify-content: center;
	margin:0 0 5rem 0;
	font-family:"Arial Black", Gadget, sans-serif;
	font-size:40px;
}

.card12 .user2 {
	width: 100%;
	margin-bottom: 15px;
}
.fundo12{
	background: #EAEAEA;
}
.home-section12{
	width: 100%;
	display: block;
	min-height: 100vh;
	background-image: url(../img/img12.png);
	background-position: center top;
	background-size: cover;
}




.card13 {
	background-color: #8ddce0;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 35px 40px;
	box-shadow: 6px 6px 10px rgba(0,0,0,0.171);
}

.card13 h01{
	color:#fff;
	display:flex;
	justify-content: center;
	margin:0 0 5rem 0;
	font-family:"Arial Black", Gadget, sans-serif;
	font-size:40px;
}

.card13 .user2 {
	width: 100%;
	margin-bottom: 15px;
}
.fundo13{
	background: #B7F1F2;
}
.home-section13{
	width: 100%;
	display: block;
	min-height: 100vh;
	background-image: url(../img/img13.png);
	background-position: center top;
	background-size: cover;
}





.card6 {
	background-color: #91B3FA;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 35px 40px;
	box-shadow: 6px 6px 10px rgba(0,0,0,0.171);
}

.card6 h01{
	color:#fff;
	display:flex;
	justify-content: center;
	margin:0 0 5rem 0;
	font-family:"Arial Black", Gadget, sans-serif;
	font-size:40px;
}

.card6 .user2 {
	width: 100%;
	margin-bottom: 15px;
}
.fundo6{
	background: #BDCFFA;
}
.home-section6{
	width: 100%;
	display: block;
	min-height: 100vh;
	background-image: url(../img/img6.jpg);
	background-position: center top;
	background-size: cover;
}



.card7 {
	background-color: #9B82FF;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 35px 40px;
	box-shadow: 6px 6px 10px rgba(0,0,0,0.171);
}

.card7 h01{
	color:#fff;
	display:flex;
	justify-content: center;
	margin:0 0 5rem 0;
	font-family:"Arial Black", Gadget, sans-serif;
	font-size:40px;
}

.card7 .user2 {
	width: 100%;
	margin-bottom: 15px;
}
.fundo7{
	background: #8A5FFF;
}
.home-section7{
	width: 100%;
	display: block;
	min-height: 100vh;
	background-image: url(../img/img5.png);
	background-position: center top;
	background-size: cover;
}

.card7 h01{
	color:#fff;
	display:flex;
	justify-content: center;
	margin:0 0 5rem 0;
	font-family:"Arial Black", Gadget, sans-serif;
	font-size:40px;
}






.fundo14{
	background: #8A5FFF;
}
.home-section14{
	width: 100%;
	display: block;
	min-height: 100vh;
	background-image: url(../img/img14.png);
	background-position: center top;
	background-size: cover;
}

.card14 {
	background-color: #9B82FF;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 35px 40px;
	box-shadow: 6px 6px 10px rgba(0,0,0,0.171);
}

.card14 h01{
	color:#fff;
	display:flex;
	justify-content: center;
	margin:0 0 5rem 0;
	font-family:"Arial Black", Gadget, sans-serif;
	font-size:40px;
}

.card14 .user2 {
	width: 100%;
	margin-bottom: 15px;
}
.card14 h01{
	color:#fff;
	display:flex;
	justify-content: center;
	margin:0 0 5rem 0;
	font-family:"Arial Black", Gadget, sans-serif;
	font-size:40px;
}


.fundo15{
	background: #8A5FFF;
}
.home-section15{
	width: 100%;
	display: block;
	min-height: 100vh;
	background-image: url(../img/img15.png);
	background-position: center top;
	background-size: cover;
}




h01{
	display:flex;
	justify-content: center;
	margin:3rem 0 2rem 0;
	font-family:"Arial Black", Gadget, sans-serif;
	font-size:40px;
	color:#fff;
}


.card7 {
	background-color: #9B82FF;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	padding: 35px 40px;
	box-shadow: 6px 6px 10px rgba(0,0,0,0.171);
	margin:4rem 0 5rem 0;
}



.cards03 {
	display:grid;
	grid-template-columns: repeat(1, 1fr);	
	max-width:980px;
	margin: 0 auto;
	grid-gap: 40px;
}

.card03 {
	background-color: #91B3FA;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 35px 40px;
	box-shadow: 6px 6px 10px rgba(0,0,0,0.171);
	color: #0CC;
}

.card03 .user4 {
	width: 100px;
	margin-bottom: 15px;
}



.cards07 {	
	max-width:980px;
	margin: 0 auto;
	grid-gap: 40px;
}

.card07 {
	background-color: #91B3FA;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 35px 40px;
	box-shadow: 6px 6px 10px rgba(0,0,0,0.171);
	color: #0CC;
}

.card07 .user4 {
	width: 100px;
	margin-bottom: 15px;
}

